*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

// variebles
$primary-colour:rgb(215,123,65);
$h1color:rgb(0,62,84);
$formtext-colour:rgb(128,151,160);
$formbackground-color:rgb(243,244,246);

@font-face {
    font-family: "myfont";
    src: url("BalooBhaijaan-Regular.ttf");
}

@font-face {
    font-family: "myfont2";
    src: url("/Baloo2-VariableFont_wght.ttf");
}




// .main{
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
    
// }
.joy{
    color: $primary-colour;
}
.number23{
  position: relative;
  border-bottom: 400px;
}
.rec9{
    // height: 499px;
}

.navbar a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 900;
    color: rgb(0, 62, 84);
    margin-right: 30px;
}
.contact img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.burger{
    font-size: 100px;
    background-color: white;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

 
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }


.subscribe{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: unset;
}
.subscribe{
    div{
        margin: 30px;
    }
}
.subscribe{
    .button{
        position: relative;
        top: 30px;
    }
}
.contact{
    h2{
        font-size: 40px;
        margin-left: 40px;
    }
    p{
        position: relative;
        left: 20px;
    }
}

// .navigation{
//  margin-right: 40px;
// }

.navbar{
    //  margin: 50px;
    font-family: "myfont", BalooBhaijaan ;
     display: flex;
     justify-content: space-between;
    //  margin-right: 30px;

a{
    text-decoration: none;
    font-size: 30px;
    margin-left: 50px;
    font-weight:900 ;
   color: $h1color;
   
}
.menu{
    margin-right: 35px;
    font-size: 80px;

}

}
.logo{
    height: 20vh;
    width: 20vh;
}
 .home{
    font-family: "myfont", BalooBhaijaan ;
    h1{
        font-size: 73px;
        font-weight: 900;
        
        color: #0A3140;
    }
    h2{
        font-size: 38px;
        font-weight:900 ;
       color: $h1color;
    }
        

        img{
            width: 100%;
     }

     .equal-image {
        height: 70px;

    }
    img{
        opacity: 0,5rem;
    }
    
    input{
    padding: 5px;
    
}

.line1{
    height: 2px;
    width: 50px;
    background-color:rgb(215, 123, 65);
    margin-right: 10px;
    display: inline-block;

}
}
textarea{
    width: 100%;
}
.lorem img{
    position: relative;
    bottom: 95px;
    height: 500px;
    width: 300px;
    object-fit: contain;
}
.fly{
    
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    padding: 20px;
}


    
    
// }
// .wrapper{
//     position: fixed;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 100%;
//     background: linear-gradient(-135deg,#c850c0,#4158d8);
//     clip-path: circle(25px at calc(100% - 45px));
//     transition: all 0.3s ease-in-out;
// }
// #active:checked ~.wraper{
//     clip-path: circle(75%);
// }
// #active:checked ~ .menu-btn{
// background-color: #fff;
// color: #4158d8;
// }
// #active:checked ~ .menu-btn i:before{
//   content: "/f00d";
// }
// .menu-btn{
//     position: absolute;
//     right: 20px;
//     z-index: 2;
//     text-align: center;
//     line-height:50px ;
//     height: 50px;
//     width: 50px;
//     background: linear-gradient(-135deg,#c850c0,#4158d8); 
//     border-radius: 50%;
//     color: #fff;
//     font-size:20px ;
//     cursor: pointer;
//     transform: all 0.3s ease;
// }
// .wraper ul li a{
//     text-decoration: none;
//     font-size: 30px;
//     font-weight: 500px;
//     padding:5px 50px ;
//     line-height: 50px;
//     transform: all 0.3s ease;
// }
// .wraper ul li a :after{
//     content:""; 
//     position: absolute;
//     left: 0;
//     width: 100%;
//     height: 50px;
//     z-index: -1;
//     background: #fff;
//     border-radius: 50px;
//     transform: scaleY(0);
//     transition:transform 0.3s ease ;
// } 
// .wrapper ul li a :hover ::after{
// transform: scaleY(1);
// }
// .wraper ul li a :hover{
//     color: #c850c0;
// }



// .wraper ul{
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%,-50%);
//     list-style: none;
//     text-align: center;
// }
// .wraper ul li{
//     margin: 15px 0;
// }
// input{
//     display: none;
// }


.prie{
    position: relative;
    top: 48px;
}

.lorem{
    font-family: "myfont", balooBhaijan;
    // padding-top: 50px;
    // padding-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    img{
        width: 80%;
        
    }
    h2{
        color: $primary-colour;
        font-size: 50px;
    }

}
.rec76{
    height: 592px;
    object-fit: cover;
    padding-top: 15px;
}

// services
.service{
padding: 20px;
    font-family: "myfont", BalooBhaijaan ;
    background-color: #0B394D;
    padding-top: 92px;
   padding-bottom: 100px;
   .serve{
    margin: 15px;
      font-family: "myfont2",Baloo2;
     padding-bottom: 40px;
     color: white;
     
   } 

   .card{
    background-color: #123E52;
    color: white;
   }

    .navbar{
     display: flex;
     justify-content: space-between;
    }
a{
    text-decoration: none;
    font-size: 27px;
    margin-left: 35px;
    font-weight:900 ;
    color: black;
}
h5{
    color:rgb(215, 123, 65);
}

}
.home{
    font-family: "myfont", BalooBhaijaan ;
    h1{
        font-size: 73px;
        font-weight: 900;
    }
    h2{
        font-size: 38px;
        font-weight:900 ;
    }
        p{
            // font-weight: bolder;
        }

        img{
            width: 100%;
     }
}
.head{
    padding: 20px;
    padding-left: 37px;
}
.red{
    margin-left: 30px;
    margin-right: 30px;
}
.rec9{
    object-fit: cover;
    height: 449px;
}
.service{
    margin: unset;
    padding: 20px;
}
.home{
    // margin: 40px;
    padding: 20px;
}
.number3{
    margin-top: 11px;
}
.pro{
    width: 487px;
}
.number12{
    position: relative;
    bottom: 18px;
    height: 50px;
    left: 4px;
    width: 222px;
    opacity: 70%;
}
.number11{
    position: relative;
    bottom: 20px;
    height: 50px;
    bottom: 31px;
}
.number10{
    position: relative;
    bottom: 29px;
    height: 50px;
    width: 248px;
}
.number13{
    position: relative;
    bottom: 36px;
    height: 50px;
    left: 29px;
}
   
// subscribe

.subscribe{
    font-family: "myfont", BalooBhaijaan ;
    background-color: white;
    // padding-top: 100px;
    padding-bottom: 100px;
    margin-right: 20px;
    margin-left: 20px;
    .h2{
        display: flex;
        flex-direction: column;
        justify-content: center;
    //    padding-top: 200px;
    }
   .button{
    padding-bottom: 10px;
    background-color: $h1color;
    color: white;
   }
    a{
        background-color: #0B394D;
        padding: 15px;
        width: 260px;
        margin-top: 20px;
        font-size: 18px;
        text-decoration: none;
        text-align: center;
        // color: white;
        background-color: $formtext-colour;
    }
    h2{
        color: rgb(215, 123, 65);
        display: flex;
        flex-direction: column;
        justify-content: center;
        // padding-top: 200px;
    }

    
}
// contacts
.contact{
    // background-color: $formbackground-color;
    font-family:  "myfont", BalooBhaijaan;
    background-color: rgb(243, 244, 246);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

 
  img{
    height: 100%;
    width: 100%;
  }
  

  .forms{
    padding-left: 120px;
    padding-right: 5px;
    padding-top: 5px;
    color: $formbackground-color;
    //  color: white;

    




    @media (max-width:578px){
        margin-left: 20px;
        margin-right: 40px;
        padding: 0%;
    }
     
  }
  
 

  a{
    text-decoration: none;
    color: white;
   
  }
  .button{
    // padding-left: 120px;
    // padding-right: 5px;
    background-color: rgb(21, 21, 51);
    padding: 10px;
    height: 50px;
    font-size: larger;
    margin-top: 15px;
    // align-items: center;
    
  }
  h2{
    color: $primary-colour;
  }
  .call{
    padding: 0px;
  }
}
textarea{
    margin-top: 0px;
    border: none;
}
.get p{
   margin:5px;
}

// end contact
.log{
    font-family: "myfont", BalooBhaijaan ;
   
    .image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.nor{
    color: $primary-colour;
}
.pro{
    color: $primary-colour;
}

 .number6{     margin-top: 133px;
}
.icon{
    color: white;
}
.carousel{
    border-radius: 10px;
}
.nowalls{
    position: relative;
    right: 213px;
}

// footer
.footer{
    font-family:  "myfont", BalooBhaijaan;
    background-image: url("Img/Group 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:center ;
    width: 100%;
    height: 400px;
    color: white;
    margin-top: 56px;

    h2{
    position: relative;
    top: 138px;
      font-weight: bolder;
      left: 140px;
      margin-left: 50px;
      
    }
// end
    .lucky{
        display: flex;
        position: relative;
        top: 152px;
        justify-content: space-evenly;
        right: 399px;
        margin-left: 20px;
        margin-left: 20px;
        
    

    p{
        margin-left: 20px;
    }
    span{
        margin-left: 20px;
    }
    i{
        margin-left: 20px;
    }

    }

}
.col-md-3{
    padding-bottom: 45px;
    font-family:  "myfont", BalooBhaijaan;
}
.get{
    margin-left: 100px;
    .ttt{
        font-size: small;
    }
}

.logo {
    height: 20vh;
    width: 20vh;
    position: relative;
    right: 79px;
}
.number10{
    opacity: 40%;
    width: 300px;
    right: 6px;
    bottom: 31px;
    height: 180px;
}
.number11{
    opacity: 40%;
    height: 54px;
    width: 300px;
}
.number13{
    opacity: 40%;
    height: 55px;
}
.number12{
    opacity: 40%;
    height: 55px;
    width: 212px;
}
.contact p{
position: relative;
top: 21px;
left: 51px;
}
.contact h2{
    position: relative;
    top: 27px;
    left: 23px;
}
.ifon{
      position: relative;
        right: 150px;
    }
    .icon{
         position: relative;
         left: 250px;
         font-size: 20px;
         bottom: 3px;
    }
    .fly p{
        font-family:  "myfont", BalooBhaijaan;  
    }
    .call{
        position: relative;
        bottom: 4px;
    }
    .service{
        padding: 20px;
    }
    .carousel-indicators {
        position: absolute;
        bottom: 167px;
        bottom: 37px;
        left: 0;
        z-index: 2;
        display: flex;
        justify-content: center;
        padding: 0;
        margin-right: 15%;
        margin-bottom: 1rem;
        margin-left: 15%;
        list-style: none;
    }

.icon{

      display: flex;
        position: relative;
        left: 169px;
        font-size: larger;
        bottom: 3px;
    }
    .ifon {
        position: relative;
        right: 85px;
        top: 5px;
    }




   
    
// small
@media(max-width:576px){

    .dropdown {
        display: none;
    }
    .subscribe h2{
        font-size: 17px;
    }

    .menu{
        display: none;
    }
    .nowalls {
        position: relative;
        right: 3px;
        height: 144px;
        top: 39px;
    }
    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: #111;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 33px;
        position: relative;
        left: 200px;left: 294px;
        top: 47px;

    }
    .footer{
        .lucky{
            margin-left: 407px;
        
        }
    }
    .number23{
        display: none;
    }
    .head{
        margin-left: 33px;
    }
    
    .fly{
        margin-left: 20px;
        margin-right: 0px;
    }

    .number11 {
        position: relative;
        bottom: 20px;
        height: 50px;
        bottom: 31px;
        display: none;
    }
    .number13 {
        position: relative;
        bottom: 36px;
        height: 50px;
        left: 29px;
        display: none;
    }
    .number10{
        display: none;
    }
    .number12{
        display: none;
    }
    .lorem {
        font-family: "myfont", balooBhaijan;
        margin-left: 6px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .home{
        margin-right: 0px;
        margin-left: 0px;
    }

.rec76{
    display: none;
}
.xavi{
    margin-right: 105px;
}

.rec9{
    display: none;
}



    .head{
    
        h1{
            font-size: 25px;
        }
        h2{
            font-size: 20px;
        }
        .subscribe h2{
            padding-top: 0px;
        }

        .rec10{
            display: none;
        }
       
    }
    .call{
        margin-right: 10px;
        padding: 0px;
    }
    
     
        .lorem{
            display: flex;
            flex-direction: column;
            margin-top: 0px;
            padding-bottom: 5px;
            h2{
                font-size: 25px;
                margin-top: 0px;
            }

            
        }
        .subscribe h2{
            margin-bottom: 30px;
            margin-left: 5px;
        }
        .pro{
            display: none;
        }
        .col-md-3{
            font-family:  "myfont", BalooBhaijaan;
            padding-bottom: 0px;
        }

    
    // contact

.get{
    .h2{
        font-size: 20px;
    }
   
}
.contact{
    
    img {
        display: none;
    }
    
}
.contact{
    h2{
        font-size: 25px;
    margin-right: 80px;
    }
}
    .contact{
        p{
            font-size: 10px;
            margin-right: 12x;
        }
    }

      .h2{
        font-size: 28px;
      }
      .get p{
        font-size: x-small;
      }
        .footer p{
            font-size: xx-small;
            margin-top: 0px;
        }
        .rec10{
            display: none;
        }
        .footer h2 {
            font-size: 16px;
            font-weight: bolder;
            
        }
        .ifon {
            font-size: 16px;
        }
        .footer .lucky p {
            margin: 0px;
        }
        
        .lucky{
            display: flex;
        }
        .footer h2 {
            position: relative;
            top: 134px;
            font-weight: bolder;
            left: 31px;
            margin-left: 50px;
        }
        
}
// end small




 
@media (min-width:578px) and (max-width:768px) {

    body{
        overflow-x: hidden;
    }
    
    .head{
        
        h1{
            font-size: 40px;
        }
        h2{
            font-size: 20px;
        }
        .subscribe h2{
            padding-top: 0px;
        }

        .rec10{
            display: none;
        }
       
    }
    .lorem{
        display: flex;
        flex-direction: column;
    }
    .lorem p{
        font-size: 12px;
    }
    .fly{
        .number23{
            width: 51%;
        }
    }
    .rec9{
        height: 174px;
        object-fit: cover;
        display: none;
    
    }
    .number13{
        display: none;
    }
    .number12{
        display: none;
    }
    .number11{
        display: none;
    }
    .number10{
        display: none;
    }
    .pro{
        width: 200px;
        display: none;
    
    }
    .rec10{
        width: 111%;
    position: relative;
    left: 0px;
    margin-left: 0px;

    }
    
    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: #111;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 22px;
        background-color: darkolivegreen;
        position: relative;
        left: 614px;
    }
    .home{
        margin-left: 40px;
        margin-right: 40px;
    }
    .fly{
        margin-left: 30px;
        margin-right: 30px;
    }
    .nowalls {
        position: relative;
        right: 256px;
        top: 38px;
    }

    .logo {
        width: 380px;
        position: relative;
        right: 232px;
        object-fit: contain;
        height: 150px;
    }
    .navbar{
        .menu{
            display: none;
        }
    }
    .subscribe h2{
        font-size: 20px;
    margin-left: 50px ;
    padding-left: 0px;
    }
    .subscribe a{
        padding-top: 5px;
        margin-left: 50px;
    }
    .lorem h2 {
    color: rgb(215, 123, 65);
    font-size: 27px;
    position: relative;
    
}

.contact p {
    position: relative;
    top: 21px;
    left: 21px;
}



.xavi{
    position: relative;
    top: 10px;
    left:22px ;
}
.contact{
    .forms{
        position: relative;
        right: 50px;
    }
}
    .footer h2{
        text-align: center;
    }
    .contact{
        h2{
            font-size: 29px;
            margin-right: 28px;

        }
        
    }
    .contact {
        font-size: 13px;
    }

  .footer span{
    position: relative;
    left: 0px;
    bottom: 7px;
    
  }   
    .footer{
        .ifon{
            position: relative;
            left: 185px;
            bottom: 66px;
        }
    }

    .footer p{
        position: relative;
        left: 207px;
        bottom: 67px;
    }
    .footer{
        .icon{
            position: relative;
            left: 125px;
            bottom: 16px;
        }
    }
    
     .footer{

        height: 233px;
     } 
     .footer h2 {
        position: relative;
        top: 66px;
        font-weight: bolder;
        left: 0px;
        margin-right: 144px;
        right: 111px;
    }
}
@media (min-width:992px) and (max-width:1024px){
       .nowalls {
            position: relative;
            right: 48px;
        }
}


@media (min-width:992px) and (max-width:1024px){

    .lorem h2 {
        font-size: 37px;
    }
    .rec9{
        height: 184px;
        display: none;
    }

     .menu {
        margin-right: 29px;
        font-size: 88px;
        position: relative;
        top: 50px;
        right: 30px;
        }
    
        .navbar a {
            text-decoration: none;
            font-size: 25px;
            margin-left: 50px;
            font-weight: 900;
            color: rgb(0, 62, 84);
            position: relative;
            bottom: 17px;
        }  
       
     
        
        
        .number10{
            display: none;
        }
        .number11{
            display: none;
        }
        .number12{
            display: none;
        }
    
        .number13{
            display: none;
        }
        .subscribe {
           
    
            flex-direction: column;
        }
        .ifon {
            position: relative;
            /* right: -7px; */
            left: 0px;
            margin-right: 16px;
        }
        .icon {
            position: relative;
            left: 159px;
            font-size: larger;
            bottom: 3px;
        }
        .ziggy{
                font-weight: 100;
        }
        .footer .lucky {
            display: flex;
            position: relative;
            top: 152px;
            justify-content: space-evenly;
            right: 199px;
            margin-left: 20px;
            margin-left: 20px;
        }
        .footer{
            background-size: contain;
        }
    }








@media(min-width:995px) and (max-width:2000px){
    .openbtn{
        display: none;
    } 
    .fly{
        .number23{
            width: 51%;
        }
    }
    .fly{
        
    margin-bottom: -36px;
    position: relative;
    bottom: 58px;
}

}




    

    


    
    


